/* Botão WhatsApp Flutuante */
.whatsapp-fixed {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
}

.whatsapp-fixed:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.whatsapp-fixed svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    margin-top: -2px;
}
